{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css" integrity="sha512-UTNP5BXLIptsaj5WdKFrkFov94lDx+eBvbKyoe1YAfjeRPC+gT5kyZ10kOHCfNZqEui1sxmqvodNUx3KbuYI/A==" crossorigin="anonymous" />
{% endblock %}

{% block extra_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.js" integrity="sha512-gY25nC63ddE0LcLPhxUJGFxa2GoIyA5FLym4UJqHDEMHjp8RET6Zn/SHo1sltt3WuVtqfyxECP38/daUc/WVEA==" crossorigin="anonymous"></script>
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="hero-image-area">
        <img src="/media/surfing-background-image.jpg" class="hero-image mb-5">
    </div>
    <section class="best-selling">
        <div class="row">
           
        </div>
    </section>
    <section class="container-fluid parralax-area">
        <div class="parallax">
            <div class="black-overlay">
                <div>
                    <div class="articles-hero-heading">
                        Articles
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid parralax-area">
        <div class="parallax2 mb-5"></div>
    </section>
{% endblock %}