{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <h2 class="bag-heading text-white text-center border-bottom mt-4 mb-4">Wishlist</h2>
            </div>
        </div>
    </div>
    {% if item in wishlist%}
        <div class="col-12">
            <div class="order-history table-responsive">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th class="text-white">Product Image</th>
                            <th class="text-white">Product Name</th>
                            <th class="text-white">Description</th>
                            <th class="text-white">Price</th>
                            <th class="text-white">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in wishlist %}
                            <tr>
                                <td>
                                    <img src="{{ item.image.url }}">
                                </td>
                                <td>
                                    <p class="text-white">{{ item.name }}</p>
                                </td>
                                <td class="text-white">{{ item.description }}</td>
                                <td>
                                    <p class="text-white">{{ item.price }}</p>
                                </td>
                                <td class="text-white"><a href="{% url 'add_wish' item.id %}" class="text-white"><i class="fas fa-trash-alt"></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div> 
    {% endif %}
        <p class="lead text-white m-5">Your Wishlist is empty.</p>
        <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg m-5">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span class="text-uppercase">Keep Browsing</span>
        </a>
{% endblock %}