html {
    height: 100%;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: #111111;
}

a, a:hover, a:focus, a:active {
      text-decoration: none !important;
}

i {
    color: #fafafa;
}

.mobile-search {
    background-color: #111111;
}

.navbar-toggler {
    color: #fafafa;
}

.logo {
    font-family: 'Lobster', sans-serif;
}

.top-header {
    background-color: #111111;
}

/*------------- index.html --------------- */

.hero-image-area {
    padding-top: 128px;
}

.hero-image {
    width: 100%;
    height: 800px;
}

/*------------- products.html --------------- */

.heading-area {
    padding-top: 128px;
}

.divider {
    border-bottom: solid 1px #fafafa;
}

.card:hover {
    transform: scale(1.05);
}

.img-fluid {
    height: 400px;
}

/*------------- product_detail.html --------------- */

.product_detail_area {
    width: 80%;
}

#preview{
	margin-top: 10px;
	border:1px solid #fafafa;
	width:300px;
	height:600px;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
}

#samples img {	
	margin: 10px;
	display: block;
	 border: 2px solid #6A6462;
}

#samples img:hover {
	 cursor: zoom-in;
	 border: 0;
	 -moz-box-shadow:2px 2px 7px 2px rgba(130,130,130,1),-1px -1px 7px 2px rgba(130,130,130,1);
	-webkit-box-shadow: 2px 2px 7px 2px rgba(130,130,130,.7),-1px -1px 7px 2px rgba(130,130,130,1);
	box-shadow: 2px 2px 7px 2px rgba(130,130,130,.7),-2px -2px 7px 2px rgba(130,130,130,1);
}

