html {
    height: 100%;
}

.logo {
    font-family: 'Lobster';
}

.top-header {
    background-color: #111111;
}

body {
    background-color: #0AA3CF;
    font-family: 'Oswald';
}

.heading-padding {
    padding-top: 166px;
}

.footer {
    width: 100%;
    background-color: #111111;
}

.footer-area {
    margin: 0;
    padding: 0;
}

.useful-link {
    list-style-type: none !important;
}

.bank-card-img {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.hero-image-area {
    padding: 0;
    margin: 0;
}

.hero-image {
    background-image: url("/media/surfing-background-image.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(90vh - 164px);
}

.shop-now-area {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.shop-now-button {
    background-color: #111111;
    color: #fafafa;
    border: solid #fafafa 1px;
    border-radius: 5px;
}

.shop-now-btn-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.best-selling {
    width: 80%;
}

.img-fluid {
    height: 40vh;
}

.parallax {
  background-image: url("/media/kayaking-safety.jpg");
  min-height: 80vh; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.safety-area {
    margin: 0;
    padding: 0;
}

.safety-btn-area {
    width: 20vw;
    background-color: #111111;
    position: absolute;
    top: 45%;
    left: 5%;
    border: solid 1px #fafafa;
}

.top-brands {
    width: 80vw;
}

.brand-img-billabong {
    background-image: url("/media/billabong.jpg");
    background-repeat: no-repeat;
    transition: transform 0.2s;
    height: 225px;
    width: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.brand-img-animal {
    background-image: url("/media/animal.jpg");
    background-repeat: no-repeat;
    transition: transform 0.2s;
    height: 225px;
    width: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.brand-img-oneill {
    background-image: url("/media/o'neill.jpg");
    background-repeat: no-repeat;
    transition: transform 0.2s;
    height: 225px;
    width: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.brand-img-gul {
    background-image: url("/media/gul.jpg");
    background-repeat: no-repeat;
    transition: transform 0.2s;
    height: 225px;
    width: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.brand-button {
    display: none;
}

.brand-img-billabong:hover,
.brand-img-animal:hover,
.brand-img-gul:hover,
.brand-img-oneill:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
}

.parallax2 {
    background-image: url("/media/surfing2.jpg");
    min-height: 80vh; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.equipment-area {
    margin: 0;
    padding: 0;
}

.equipment-btn-area {
    width: 20vw;
    background-color: #111111;
    position: absolute;
    top: 45%;
    right: 5%;
    border: solid 1px #fafafa;
}

.products-heading-padding {
    padding-top: 166px;
}

.product-heading {
    width: 80%;
    margin: auto;
}

.product-container {
    width: 80%;
    margin: auto;
}

.product-detail-heading {
    width: 80%;
    margin: auto;
}

#preview{
	margin-top: 10px;
	border:1px solid black;
	width:150px;
	height:300px;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
}
#samples{
	text-align: center;
}
#samples img {	
	margin: 10px;
	border: 2px solid #6A6462;
}
#samples img:hover {
	 cursor: zoom-in;
	 border: 0;
	 -moz-box-shadow:2px 2px 7px 2px rgba(130,130,130,1),-1px -1px 7px 2px rgba(130,130,130,1);
	-webkit-box-shadow: 2px 2px 7px 2px rgba(130,130,130,.7),-1px -1px 7px 2px rgba(130,130,130,1);
	box-shadow: 2px 2px 7px 2px rgba(130,130,130,.7),-2px -2px 7px 2px rgba(130,130,130,1);
}

.bag-heading {
    padding-top: 166px;
}

.size-chart {
    background-color: #111111;
}

.size-chart-mens,
.size-chart-womens,
.size-chart-kids {
    width: 100%;
}

.size-chart-mens {
    background-image: url("/media/Mens-Wetsuit-SizeChart_1.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
}

.size-chart-kids {
    background-image: url("/media/kids-wetsuit-chart.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
}

.size-chart-womens {
    background-image: url("/media/oneill-womens-wetsuit-size-chart.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
}

.contact-form {
    width: 60%;
    margin: auto;
}

.contact-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    background-color: #111111;
    color: #fafafa;
    border: solid #fafafa 1px;
    border-radius: 5px;
}

.btn-black {
    background: black;
    color: white;
}

.btn-outline-black {
    background: white;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #111111;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}


/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}

/* ------------ Media Queries ---------- */


@media only screen and (max-width: 1200px) {
    .top-brands {
        width: 90vw;
    }
}

@media only screen and (max-width: 1024px) {
    .top-brands {
        width: 100vw;
    }
}

@media only screen and (max-width: 768px) {
    .heading-padding {
        padding-top: 117px;
    }

    .products-heading-padding {
        padding-top: 117px;
    }

    .safety-btn-area {
        width: 100vw;
        background-color: #111111;
        position: absolute;
        left: 0;
        right: 0;
        top: 85%;
        border: solid 1px #fafafa;
    }

    .equipment-btn-area {
        width: 100vw;
        background-color: #111111;
        position: absolute;
        top: 85%;
        right: 0;
        left: 0;
        border: solid 1px #fafafa;
    }

    .bag-heading {
        padding-top: 117px;
    }

    .wishlist-img {
        height: auto;
    }
}

@media only screen and (max-width: 540px) {
    .safety-btn-area {
        width: 100vw;
        background-color: #111111;
        position: absolute;
        left: 0;
        right: 0;
        top: 75%;
        border: solid 1px #fafafa;
    }

    .equipment-btn-area {
        width: 100vw;
        background-color: #111111;
        position: absolute;
        top: 75%;
        right: 0;
        left: 0;
        border: solid 1px #fafafa;
    }

    #samples {
        width: 50%;
    }

    .preview {
        width: 50%;
    }
}

@media only screen and (max-width: 414px) {
    .products-heading-padding {
        padding-top: 145px;
    }

    .bag-heading {
        padding-top: 145px;
    }

    .contact-form {
        width: 90%;
    }
}

@media only screen and (max-width: 320px) {
    .nav-link {
        padding: 0;
    }

    .safety-btn-area {
        width: 100vw;
        background-color: #111111;
        position: absolute;
        left: 0;
        right: 0;
        top: 65%;
        border: solid 1px #fafafa;
    }

    .equipment-btn-area {
        width: 100vw;
        background-color: #111111;
        position: absolute;
        top: 62%;
        right: 0;
        left: 0;
        border: solid 1px #fafafa;
    }

    #samples {
        padding: 0;
    }

    .preview {
        padding: 0;
    }
}

@media only screen and (max-width: 280px) {
    .top-brands {
        margin: 0;
    }

    .preview {
        display: hidden;
    }
}