<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-white mr-5" href="#" id="wetsuits" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Wetsuits
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="wetsuits">
                <a href="" class="dropdown-item">Mens Wetsuits</a>
                <a href="" class="dropdown-item ">Womens Wetsuits</a>
                <a href="" class="dropdown-item ">Kids Wetsuits</a>
                <a href="" class="dropdown-item">Wetsuit Boots</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-white mr-5" href="#" id="equipment" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Equipment
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="equipment">
                <a href="" class="dropdown-item">Surfboards</a>
                <a href="" class="dropdown-item">Kayaks</a>
                <a href="" class="dropdown-item">Wakeboards</a>
                <a href="" class="dropdown-item">Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-white mr-5" href="#" id="shore-wear" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shore Wear
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="shore-wear">
                <a href="" class="dropdown-item">Mens Clothing</a>
                <a href="" class="dropdown-item">Womens Clothing</a>
                <a href="" class="dropdown-item">Kids Clothing</a>
                <a href="" class="dropdown-item">Footwear</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-white" href="#" id="accessories" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories">
                <a href="" class="dropdown-item">Footwear</a>
                <a href="" class="dropdown-item">Safety and Protection</a>
                <a href="" class="dropdown-item">Transport</a>
                <a href="" class="dropdown-item">Care and Repair</a>
            </div>
        </li>
    </ul>
</div>
