{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid products-heading-padding">
        <div class="row">
            <div class="col text-center">
                <h2 class="text-white border-bottom product-detail-heading">Product Details</h2>
            </div>
        </div>
    </div>
    <div class="container product-detail-area">
        <div class="row mt-4">
            <div class="col-lg-3 col-md-3" id="samples">
                <img id="zoom1" height="300px" width="150px" onmousemove="zoomIn(event)" onmouseout="zoomOut()" src="{{ product.image.url }}">
            </div>
            <div class="col-lg-3 col-md-3 preview">
                <img id="preview" onmousemove="zoomIn(event)">
            </div>
            <div class="col-lg-6 product-details-container mb-5">
                <p class="mb-0"><h4 class="text-white">{{ product.name }}</h4></p>
                <p class="mb-0 text-left text-white"><strong>Price:</strong> ${{ product.price }}</p>
                <a>
                    <p class="text-white mt-3">Add to Wishlist <i class="fas fa-heart"></i></p>
                </a>
                {% if product.category %}
                <p class="mt-1 mb-0y">
                    <a class="category text-white" href="{% url 'products' %}?category={{ product.category.name }}">
                        <i class="fas fa-tag mr-1 text-white"></i>{{ product.category.friendly_name }}
                    </a>
                </p>
                {% endif %}
                {% if product.rating %}
                    <p class="text-white"><strong>Rating:</strong> <i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</p>
                {% else %}
                    <p class="text-white">No Rating</p>
                {% endif %}
                {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                        <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                    </small>
                {% endif %}
                <h6 class="text-white mt-3"><strong>Description: </strong></h6>
                <p class="text-white">{{ product.description }}</p>
                <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                        {% with product.has_sizes as s %}
                            {% if s %}
                                <div class="col-12">
                                    <p class="text-white"><strong>Size:</strong></p>
                                    <select class="form-control rounded-0 w-50" name="product_size" id='id_product_size'>
                                        <option value="xs">XS</option>
                                        <option value="s">S</option>
                                        <option value="m" selected>M</option>
                                        <option value="l">L</option>
                                        <option value="xl">XL</option>
                                    </select>
                                </div>
                            {% endif %}
                            <div class="col-12">
                                <p class="mt-3 text-white"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-black rounded-0" 
                                                data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input" type="number"
                                            name="quantity" value="1" min="1" max="99"
                                            data-item_id="{{ product.id }}"
                                            id="id_qty_{{ product.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-black rounded-0"
                                                data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col{% if s %}-12 mt-2{% endif %}">
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 mt-1">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Keep Shopping</span>
                                </a>
                                <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-1" value="Add to Bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            {% endwith %}
                        </div>
                    </form>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <div id="accordion">
                    <div class="card size-chart">
                        <div class="card-header" data-toggle="collapse" id="headingOne" aria-controls="collapseOne" data-target="#collapseOne" aria-expanded="true">
                            <h5 class="mb-0 d-flex justify-content-center">
                                <button class="btn btn-link text-white"  aria-expanded="true">
                                Mens Wetsuits Size Chart
                                </button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body d-flex justify-content-center  size-chart">
                                <img class="size-chart-img" src="/media/Mens-Wetsuit-SizeChart_1.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header size-chart" data-toggle="collapse" id="headingTwo" aria-controls="collapseTwo" data-target="#collapseTwo" aria-expanded="true">
                            <h5 class="mb-0 d-flex justify-content-center">
                                <button class="btn btn-link text-white"  aria-expanded="true">
                                Womens Wetsuit Size Chart
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body d-flex justify-content-center  size-chart">
                                <img src="/media/oneill-womens-wetsuit-size-chart.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header size-chart" data-toggle="collapse" id="headingThree" aria-controls="collapseThree" data-target="#collapseThree" aria-expanded="true">
                            <h5 class="mb-0 d-flex justify-content-center">
                                <button class="btn btn-link text-white"  aria-expanded="true">
                                Kid's Wetsuit Size Chart
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body d-flex justify-content-center  size-chart">
                                <img src="/media/kids-wetsuit-chart.jpg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function zoomIn(event) {
            var pre = document.getElementById("preview");
            pre.style.visibility = "visible";
            if ($('#zoom1').is(':hover')) {
                var img = document.getElementById("zoom1");
                pre.style.backgroundImage = "url('{{ product.image_big.url }}')";
                }
            var posX = event.offsetX;
            var posY = event.offsetY;
            pre.style.backgroundPosition=(-posX*1.0)+"px "+(-posY*1.5)+"px";
        }

        function zoomOut() {
            var pre = document.getElementById("preview");
            pre.style.visibility = "hidden";
        }
    </script>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}
